<div class="list-container">
  <div class="list-action-conatiner">
    <div class="list-view">
      <table class="list-grid">
        <thead>

        </thead>
        <tbody>
          <tr>
            <td>
                <input type="checkbox" class="filled-in" />
            </td>
            <td>
              Restricted Strategy Matrix
            </td>
            <td>
                pdf
            </td>
            <td>
              Global Products
            </td>
            <td>
                new
            </td>

          </tr>
          <tr>
              <td>
                  <input type="checkbox" class="filled-in" />
              </td>
              <td>
                Restricted Strategy Matrix
              </td>
              <td>
                  pdf
              </td>
              <td>
                Global Products
              </td>
              <td>
                  new
              </td>

            </tr>
            <tr>
                <td>
                    <input type="checkbox" class="filled-in" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" checked="checked" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" checked="checked" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"/>
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"/>
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" checked="checked" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"/>
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" checked="checked" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in" />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"  />
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"/>
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

              </tr>
              <tr>
                <td>
                    <input type="checkbox" class="filled-in"/>
                </td>
                <td>
                  Mil Elibrary
                </td>
                <td>
                    pdf
                </td>
                <td>
                  Retail Marketing
                </td>
                <td>
                    new
                </td>

                </tr>
                <tr>
                  <td>
                      <input type="checkbox" class="filled-in"/>
                  </td>
                  <td>
                    Mil Elibrary
                  </td>
                  <td>
                      pdf
                  </td>
                  <td>
                    Retail Marketing
                  </td>
                  <td>
                      new
                  </td>

                  </tr>
                  <tr>
                    <td>
                        <input type="checkbox" class="filled-in"/>
                    </td>
                    <td>
                      Mil Elibrary
                    </td>
                    <td>
                        pdf
                    </td>
                    <td>
                      Retail Marketing
                    </td>
                    <td>
                        new
                    </td>

                  </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
