<div class="container body-container">
  <div class="row">
      <div class="col s12 m4 l4">
          <div class="title-holder">
              <h5 class="entity-title">Mutual Funds</h5>
          </div>
          <div class="entity-container">
              <div class="entity-name">
                US Equity
              </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Global / International Equity
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Fixed Income
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Equity Sector
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Multi Asset
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Specialty / Alternative
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Money Market
            </div>
          </div>


      </div>
      <div class="col s12 m4 l4">
          <div  class="title-holder">
              <h5 class="entity-title">
                  Product Strategy
              </h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Separately Managed Accounts
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Variable Insurance Portfolios
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Closed End Funds
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Institutional Trust
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Product Presentations
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Prospectuses
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Product profile
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Product snapshot
            </div>
          </div>
      </div>
      <div class="col s12 m4 l4">
          <div  class="title-holder">
              <h5 class="entity-title">
                  Product Analysis
              </h5>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Morningstar hypo tool
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Morningstar Direct Reoprt portal
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Portfolio Holding Disclosure Form
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Static data
            </div>
          </div>
      </div>
  </div>
</div>
