
<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header>
      Funds
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>

<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header>
      Language
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      Thought Leadership
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header>
      Client Presentations
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      Status
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
<mz-collapsible
  [mode]="'accordion'"
  [popout]="false">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      Audience
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
        <div class="filter-options">
            <input type="checkbox" /><span>Lorem ipsum</span>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>

