<div class="container body-container">
  <div class="row">
      <div class="col s12 m3 l3">
          <div  class="title-holder">
              <h5 class="entity-title">Non Us Distribution</h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Wholesaler Coverage
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Harte Hanks
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Toy Store
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Pricing Request Form
            </div>
          </div>

      </div>
      <div class="col s12 m3 l3">
          <div  class="title-holder">
              <h5 class="entity-title">
                  Key Accounts & Firms
              </h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Platform Info
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Field Info
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Policies & Procedures
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Marketing Resources
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Institutional Services
            </div>
          </div>
      </div>
      <div class="col s12 m3 l3">
          <div  class="title-holder">
              <h5 class="entity-title">ISG</h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Investment Solutions Overview
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Overview Brochure
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Team Organization
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Client & Industry Research
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Retail Client Projects
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Slide Library
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              LTCME
            </div>
          </div>
      </div>
      <div class="col s12 m3 l3">
          <div  class="title-holder">
              <h5 class="entity-title">Marketing</h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Bios
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Marketing Research
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Speakers Bureau
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Invite Templates
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Social Media
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Product Decks
            </div>
          </div>
      </div>
  </div>
</div>
