<div class="container body-container">
  <div class="row">
      <div class="col s12 m4 l4">
          <div  class="title-holder">
              <h5 class="entity-title">Enterprise Themes</h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Active Management
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Client Alignment
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Retirement
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Sustainable Investing
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Fixed Income
            </div>
          </div>
      </div>
      <div class="col s12 m4 l4">
          <div  class="title-holder">
              <h5 class="entity-title">
                  Client Themes
              </h5>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Capital Markets
            </div>
          </div>

          <div class="entity-container">
            <div class="entity-name">
              Quant/Multi-Asset
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Fundamental Equity
            </div>
          </div>
      </div>
      <div class="col s12 m4 l4">
          <div  class="title-holder">
              <h5 class="entity-title">
                  Thought Leadership
              </h5>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              White Papers
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Investment Insights
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Market Commentaries
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Investment Solutions
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Video Library
            </div>
          </div>
          <div class="entity-container">
            <div class="entity-name">
              Learning Center
            </div>
          </div>
      </div>
  </div>
</div>
